*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.bg{
    height: 800px;
    background-color: grey;
}
.card{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
   

}
.card:hover{
     transform: scale(1.1);
    transition: 1.8;

}
.flex{
     display: flex;
    justify-content: space-evenly;
    background-color: gray;
    height: 700px;
    align-items: center;
}
.design{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 100px;
    text-align: center;
    height: 200px;
    background-color:red;
    border-bottom-left-radius: 160px;
}
.design2{
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 100px;
    text-align: center;
    height: 200px;
    background-color:blueviolet;
    border-bottom-left-radius: 160px;
    
}.design3{   
     border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    font-size: 100px;
    text-align: center;
    height: 200px;
    background-color:blue;
    border-bottom-left-radius: 160px;
}.design4{
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 100px;
    text-align: center;
    height: 200px;
    background-color:green;
    border-bottom-left-radius: 160px;
}
button{
    height: 40px;
    width: 80px;
    border-radius: 30px;
    
}
.b1{
    margin-left: 100px;
    color: white;
    background-color: red;
}
.b2{
    margin-left: 100px;
    background-color:blueviolet;
    color: white;
}
.b3{
    margin-left: 100px;
    background-color:blue;
    color: white;
}
.b4{
    margin-left: 100px;
    background-color: green;
    color: white;
}
