*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.bnav{
    width: 100px;
    height: 650px;
    background-color: palevioletred;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 400px;
    float: left;
}
.search{
    width:100px;
    height: 30px;
    background-color:aliceblue ;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}
.bicon{
    display: flex;
    flex-direction: column;
    gap: 20px;
    size: 40px;
}
.tnav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content1{
    display: flex;
    gap: 40px;
    font-weight: bolder;
}
.content2{
    display: flex;
    gap: 40px;
    font-weight: bolder;
}
.container1{
    width: 400px;
    height:300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.container2{
    width: 700px;
    height: 500px;
    position: relative;
    
}
.pic{
    width:240px;
    height: 240px;


}
.fullcontainer{
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;

}
.bg{
    height: 300px;
    width: 300px;
    background-color: palevioletred;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    text-align: center;
    position: absolute;
    right: 130px;
    top: 120px;
}
.head{
    font-size: 40px;
    color: darkslateblue;
    font-weight: bolder;
}
.btn{
   color:green;
   height: 100px;
   width: 350px;
   background-color:palevioletred;
   border: 2px solid gray;
   color: white;
   text-indent: 130px;

}
.mail{
    width: 350px;
    text-indent:100px;
}
.check{
    width: 20px;
    height: 20px;
}
.pink{
    height: 100px;
    width: 100px;
    background-color: palevioletred;
    border-radius:100px ;
    position: absolute;
    top: 20px;
    left: 50px;
}
.green{
    height: 120px;
    width: 120px;
    background-color: aqua;
    border-radius: 120px;
    position: absolute;
    left: 80px;
    top: 230px;
}
.green2{
    height: 260px;
    width: 120px;
    background-color: aqua;
    border-top-left-radius: 50px;
    position: absolute;
    top:240px ;
    right:10px ;

}
.yellow{
    height: 120px;
    width: 120px;
    background-color: yellow;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    top:120px;
    right: 10px;
    position: absolute;

}
.yellow2{
    height: 80px;
    width: 100px;
    background-color: yellow;
      border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    position: absolute;
    bottom: 0px;
    right:130px;
    
}
.yellow3{
    background-color: yellowgreen;
    height: 80px;
    width: 200px;
    border-top-left-radius: 60px;
    bottom: 1px;
    right: 230px;
    position: absolute;
}
